body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

body {
    height: 100vh;
    width: 100%;
}

.todo-app {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #333;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#todo-list {
    max-width: 800px;
    margin: 60px auto;
}
form,
.todo {
    border: 1px solid grey;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
}
form {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
input {
    padding: 4px 8px;
    flex-grow: 1;
    margin: 10px 16px;
}
.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 16px;
    background-color: rgb(17, 131, 41);
    color: #fff;
    border-radius: 8px;
    border: none;
    min-width: 100px;
    padding: 8px 16px;
    margin: 10px 10px;
    cursor: pointer;
    letter-spacing: 0.5px;
}
button:hover {
    background-color: rgb(42, 83, 19);
}
button:active {
    background-color: rgb(31, 177, 97);
}
button:focus {
    outline: 0;
}

.delete-btn {
    background-color: rgb(131, 21, 17);
}

.delete-btn:hover {
    background-color: rgb(83, 19, 19);
}
.delete-btn:active {
    background-color: rgb(221, 72, 72);
}
.delete-btn:focus {
    outline: 0;
}

.edit-btn {
    background-color: rgb(170, 150, 39);
}

.edit-btn:hover {
    background-color: rgb(146, 128, 26);
}
.edit-btn:active {
    background-color: rgb(235, 202, 20);
}
.edit-btn:focus {
    outline: 0;
}

input[type="text"] {
    font-size: 20px;
    font-family: monospace;
}
.todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    height: 18px;
    width: 18px;
    margin: 5px 10px 10px 15px;
    cursor: pointer;
}
.todo-text input {
    padding: 4px;
}
.todo-text {
    font-size: 24px;
    line-height: 24px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.todo-completed {
    display: flex;
    margin: 10px 0;
}
.todo-actions {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .todo-app {
        width: 100%;
    }

    #todo-list {
        width: 90%;
    }
    form,
    .todo {
        padding: 10px 10px;
    }
    form {
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    input {
        padding: 4px;
        width: 50%;
        margin: 10px;
    }
    button {
        font-size: 12px;

        min-width: 80px;
        padding: 6px 2px;
        margin: 5px 5px;
    }

    input[type="text"] {
        width: 100%;
    }

    .todo input[type="checkbox"] {
        transform: scale(1.8) translateY(1px);
        height: 18px;
        width: 18px;
        margin: 10px 15px 15px 15px;
        cursor: pointer;
    }

    .controls {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .todo-text {
        font-size: 16px;
        line-height: 16px;
        margin: 0px 10px;
    }
}
